# Follow along Tutorial on Pandas from Kaggle

In [17]:
import pandas as pd

In [18]:
# Creating a DataFrame
df = pd.DataFrame({'Yes': [50, 21, 5, 10], 'No': [131, 2, 8, 6]})

In [19]:
df

   Yes   No
0   50  131
1   21    2
2    5    8
3   10    6

In [20]:
df['No'][2]

8

In [21]:
# Locating rows
df.iloc[3]

Yes    10
No      6
Name: 3, dtype: int64

In [22]:
# Skip first row
df.iloc[1:4]

   Yes  No
1   21   2
2    5   8
3   10   6

In [23]:
#Get data from No column
df.iloc[:, 1]

0    131
1      2
2      8
3      6
Name: No, dtype: int64

In [24]:
#Row 2 and 3, first column
df.iloc[2:4, 0]

2     5
3    10
Name: Yes, dtype: int64

In [25]:
df.describe()

             Yes          No
count   4.000000    4.000000
mean   21.500000   36.750000
std    20.141168   62.882828
min     5.000000    2.000000
25%     8.750000    5.000000
50%    15.500000    7.000000
75%    28.250000   38.750000
max    50.000000  131.000000

In [26]:
df.max()

Yes     50
No     131
dtype: int64

In [27]:
df.min()

Yes    5
No     2
dtype: int64

In [28]:
df.mean()

Yes    21.50
No     36.75
dtype: float64

In [29]:
df.var()

Yes     405.666667
No     3954.250000
dtype: float64

In [30]:
df.std()

Yes    20.141168
No     62.882828
dtype: float64

In [31]:
df

   Yes   No
0   50  131
1   21    2
2    5    8
3   10    6

In [32]:
df['Yes'].value_counts()

5     1
21    1
10    1
50    1
Name: Yes, dtype: int64

In [33]:
df['Yes'].unique()

array([50, 21,  5, 10], dtype=int64)

In [34]:
df.value_counts()

Yes  No
50   131    1
21   2      1
10   6      1
5    8      1
dtype: int64

In [42]:
# DataFrame with strings
bobsal = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sally': ['Pretty good.', 'Bland.']})

In [43]:
bobsal

             Bob         Sally
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [40]:
# Adding an index of the rows
bobsal_prod = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sally': ['Pretty good.', 'Bland.']}, index = ['Product A', 'Product B'])

In [41]:
bobsal_prod

                     Bob         Sally
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [44]:
#Series - a single column of a DataFrame
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [45]:
# Series with an index of names 
pd.Series([30, 35, 40], index = ['2015 Sales', '2016 Sales', '2017 Sales'], name = 'Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [46]:
# Reading a csv file with Pandas
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")

# The convention is for the filepath to show the directory 2 folders above the working file. (As per Matt B)

FileNotFoundError: [Errno 2] No such file or directory: '../input/wine-reviews/winemag-data-130k-v2.csv'

In [47]:
# Will try with wine quality csv file
wine_quality = pd.read_csv('winequality_merged.csv')

In [48]:
# Can check the shape of the working file with
wine_reviews.shape

NameError: name 'wine_reviews' is not defined

In [49]:
wine_quality.shape

(6497, 13)

In [ ]:
# View top 5 rows with .head()
wine_reviews.head()

In [50]:
wine_quality.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [ ]:
# Can have pandas use the index already within the file with index_col=0
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

In [53]:
wine_quality = pd.read_csv('winequality_merged.csv', index_col=0)

In [54]:
#Doesn't already have an index column... need pandas index
wine_quality

,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
fixed acidity,,,,,,,,,,,,
7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [55]:
wine_quality = pd.read_csv('winequality_merged.csv')
wine_quality

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [35]:
#accessing columns
reviews.country

#gives the same information as:
reviews['country']

NameError: name 'reviews' is not defined

In [56]:
#Accessing the chlorides column
wine_quality.chlorides

0       0.076
1       0.098
2       0.092
3       0.075
4       0.076
        ...
6492    0.039
6493    0.047
6494    0.041
6495    0.022
6496    0.020
Name: chlorides, Length: 6497, dtype: float64

In [57]:
#Accessing the chlorides column
wine_quality['chlorides']

0       0.076
1       0.098
2       0.092
3       0.075
4       0.076
        ...
6492    0.039
6493    0.047
6494    0.041
6495    0.022
6496    0.020
Name: chlorides, Length: 6497, dtype: float64

In [58]:
# Can then target specific values within that column using another index
reviews['country'][0]

NameError: name 'reviews' is not defined

In [59]:
wine_quality['chlorides'][4]

0.076

In [60]:
#Accessing last rows
wine_quality['chlorides'][6490:]

6490    0.038
6491    0.032
6492    0.039
6493    0.047
6494    0.041
6495    0.022
6496    0.020
Name: chlorides, dtype: float64

### Indexing in Pandas - loc and iloc

In [61]:
#Accessing the first row, all columns using iloc - index based selection
wine_quality.iloc[0]

fixed acidity            7.4000
volatile acidity         0.7000
citric acid              0.0000
residual sugar           1.9000
chlorides                0.0760
free sulfur dioxide     11.0000
total sulfur dioxide    34.0000
density                  0.9978
pH                       3.5100
sulphates                0.5600
alcohol                  9.4000
quality                  5.0000
red_wine                 1.0000
Name: 0, dtype: float64

In [62]:
#Accessing the first column, all rows
wine_quality.iloc[:,0]

0        7.4
1        7.8
2        7.8
3       11.2
4        7.4
        ...
6492     6.2
6493     6.6
6494     6.5
6495     5.5
6496     6.0
Name: fixed acidity, Length: 6497, dtype: float64

In [63]:
#Choosing specific rows/columns based on slicing
wine_quality.iloc[1:4, 0:3]

   fixed acidity  volatile acidity  citric acid
1            7.8              0.88         0.00
2            7.8              0.76         0.04
3           11.2              0.28         0.56

In [64]:
#Can also pass a list of values to access the rows
wine_quality.iloc[[0,1,2,3], 0:3]

   fixed acidity  volatile acidity  citric acid
0            7.4              0.70         0.00
1            7.8              0.88         0.00
2            7.8              0.76         0.04
3           11.2              0.28         0.56

In [66]:
#Accessing the final rows, as per -ve indexing
wine_quality.iloc[-5:, :]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

### Label based selection - loc

In [69]:
#Accessing columns based on their labelling
wine_quality.loc[:, ['chlorides', 'citric acid', 'pH']]

      chlorides  citric acid    pH
0         0.076         0.00  3.51
1         0.098         0.00  3.20
2         0.092         0.04  3.26
3         0.075         0.56  3.16
4         0.076         0.00  3.51
...         ...          ...   ...
6492      0.039         0.29  3.27
6493      0.047         0.36  3.15
6494      0.041         0.19  2.99
6495      0.022         0.30  3.34
6496      0.020         0.38  3.26

[6497 rows x 3 columns]

### Manipulating the index

In [72]:
#Choosing a column to use as an index for the rest of the DataFrame
wine_quality.set_index('chlorides')

,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
chlorides,,,,,,,,,,,,
0.076,7.4,0.70,0.00,1.9,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
0.098,7.8,0.88,0.00,2.6,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
0.092,7.8,0.76,0.04,2.3,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
0.075,11.2,0.28,0.56,1.9,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
0.076,7.4,0.70,0.00,1.9,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...
0.039,6.2,0.21,0.29,1.6,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
0.047,6.6,0.32,0.36,8.0,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
0.041,6.5,0.24,0.19,1.2,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
0.022,5.5,0.29,0.30,1.1,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
0.020,6.0,0.21,0.38,0.8,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [73]:
wine_quality.set_index('pH')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality,red_wine
pH,,,,,,,,,,,,
3.51,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,0.56,9.4,5,1
3.20,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,0.68,9.8,5,1
3.26,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,0.65,9.8,5,1
3.16,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,0.58,9.8,6,1
3.51,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3.27,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,0.50,11.2,6,0
3.15,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,0.46,9.6,5,0
2.99,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,0.46,9.4,6,0
3.34,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,0.38,12.8,7,0
3.26,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,0.32,11.8,6,0

In [80]:
#Choosing rows based on values within the DataFrame
wine_quality.loc[wine_quality.quality == 7]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.00,7,1
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.50,7,1
16,8.5,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7,1
37,8.1,0.38,0.28,2.1,0.066,13.0,30.0,0.99680,3.23,0.73,9.70,7,1
62,7.5,0.52,0.16,1.9,0.085,12.0,35.0,0.99680,3.38,0.62,9.50,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6469,6.1,0.32,0.28,6.6,0.021,29.0,132.0,0.99188,3.15,0.36,11.45,7,0
6475,6.2,0.38,0.42,2.5,0.038,34.0,117.0,0.99132,3.36,0.59,11.60,7,0
6485,6.2,0.21,0.28,5.7,0.028,45.0,121.0,0.99168,3.21,1.08,12.15,7,0
6486,6.2,0.41,0.22,1.9,0.023,5.0,56.0,0.98928,3.04,0.79,13.00,7,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.80,7,0

In [81]:
#Adding queries together - find wines with quality of 7 and alcohol > 10
wine_quality.loc[(wine_quality.quality == 7) & (wine_quality.alcohol >= 10 )]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
7,7.3,0.650,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.00,7,1
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7,1
128,8.0,0.590,0.16,1.8,0.065,3.0,16.0,0.99620,3.42,0.92,10.50,7,1
198,5.4,0.835,0.08,1.2,0.046,13.0,93.0,0.99240,3.57,0.85,13.00,7,1
200,9.6,0.320,0.47,1.4,0.056,9.0,24.0,0.99695,3.22,0.82,10.30,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6469,6.1,0.320,0.28,6.6,0.021,29.0,132.0,0.99188,3.15,0.36,11.45,7,0
6475,6.2,0.380,0.42,2.5,0.038,34.0,117.0,0.99132,3.36,0.59,11.60,7,0
6485,6.2,0.210,0.28,5.7,0.028,45.0,121.0,0.99168,3.21,1.08,12.15,7,0
6486,6.2,0.410,0.22,1.9,0.023,5.0,56.0,0.98928,3.04,0.79,13.00,7,0
6495,5.5,0.290,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.80,7,0

In [82]:
#Using the or operator to combine queries - quality of 7 OR alcohol >= 10
wine_quality.loc[(wine_quality.quality == 7) | (wine_quality.alcohol >= 10 )]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7,1
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.5,7,1
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5,1
11,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5,1
16,8.5,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.5,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,6.1,0.34,0.29,2.2,0.036,25.0,100.0,0.98938,3.06,0.44,11.8,6,0
6490,5.7,0.21,0.32,0.9,0.038,38.0,121.0,0.99074,3.24,0.46,10.6,6,0
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [91]:
#Selecting values whose data 'is in' a DataFrama
wine_quality.loc[wine_quality.quality.isin([8, 9])]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
267,7.9,0.350,0.46,3.6,0.078,15.0,37.0,0.99730,3.35,0.86,12.8,8,1
278,10.3,0.320,0.45,6.4,0.073,5.0,13.0,0.99760,3.23,0.82,12.6,8,1
390,5.6,0.850,0.05,1.4,0.045,12.0,88.0,0.99240,3.56,0.82,12.9,8,1
440,12.6,0.310,0.72,2.2,0.072,6.0,29.0,0.99870,2.88,0.82,9.8,8,1
455,11.3,0.620,0.67,5.2,0.086,6.0,19.0,0.99880,3.22,0.69,13.4,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6364,5.2,0.300,0.34,1.5,0.038,18.0,96.0,0.98942,3.56,0.48,13.0,8,0
6365,6.4,0.320,0.25,5.0,0.055,28.0,138.0,0.99171,3.27,0.50,12.4,8,0
6385,4.4,0.320,0.39,4.3,0.030,31.0,127.0,0.98904,3.46,0.36,12.8,8,0
6386,3.9,0.225,0.40,4.2,0.030,29.0,118.0,0.98900,3.57,0.36,12.8,8,0
6401,5.8,0.280,0.34,2.2,0.037,24.0,125.0,0.98986,3.36,0.33,12.8,8,0

In [95]:
#To ensure you are filtering out data entries with incomplete data: isnull and notnull
wine_quality.loc[wine_quality.sulphates.notnull()]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [93]:
wine_quality

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [ ]:
#Same amount of rows as total - there are no entries with incomplete data

### Assigning data

In [96]:
#Constant assignment of new data 
wine_quality['matter'] = 'Liquid'
wine_quality['matter']

0       Liquid
1       Liquid
2       Liquid
3       Liquid
4       Liquid
         ...
6492    Liquid
6493    Liquid
6494    Liquid
6495    Liquid
6496    Liquid
Name: matter, Length: 6497, dtype: object

In [97]:
#Assignment of an iterable to the data 
wine_quality['index_backwards'] = range(len(wine_quality), 0, -1)
wine_quality['index_backwards']

0       6497
1       6496
2       6495
3       6494
4       6493
        ...
6492       5
6493       4
6494       3
6495       2
6496       1
Name: index_backwards, Length: 6497, dtype: int32

In [100]:
#Trying to assign a new index column to the data
wine_quality['index_1'] = range(len(wine_quality))
wine_quality

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine,matter,index_backwards,index_1
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1,Liquid,6497,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1,Liquid,6496,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1,Liquid,6495,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1,Liquid,6494,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1,Liquid,6493,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0,Liquid,5,6492
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0,Liquid,4,6493
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0,Liquid,3,6494
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0,Liquid,2,6495
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0,Liquid,1,6496

# 3. Summary, Functions and Maps

In [101]:
#Summary functions allow a snapshot to be taken of a DataFrame in order to assess statistical information
wine_quality.alcohol.describe()

count    6497.000000
mean       10.491801
std         1.192712
min         8.000000
25%         9.500000
50%        10.300000
75%        11.300000
max        14.900000
Name: alcohol, dtype: float64

In [102]:
#Using describe() to look at summary info when the datapoints are strings:
wine_quality.matter.describe()

count       6497
unique         1
top       Liquid
freq        6497
Name: matter, dtype: object

In [105]:
#Looking at the average value for a given column
wine_quality.quality.mean()

5.818377712790519

In [106]:
#Looking at unique values within the DataFrame
wine_quality.quality.unique()

array([5, 6, 7, 4, 8, 3, 9], dtype=int64)

In [107]:
wine_quality.quality.value_counts()

6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: quality, dtype: int64

# Maps

In [ ]:
# Maps allow one set of data to be mapped to another set

In [108]:
#Remapping the quality scores of the wine to 0 - remapping one column (series)
wine_quality_mean = wine_quality.quality.mean()
wine_quality.quality.map(lambda p: p - wine_quality_mean)

0      -0.818378
1      -0.818378
2      -0.818378
3       0.181622
4      -0.818378
          ...
6492    0.181622
6493   -0.818378
6494    0.181622
6495    1.181622
6496    0.181622
Name: quality, Length: 6497, dtype: float64

In [111]:
#Checking to see if the remapping worked based on min/max values
print(wine_quality.quality.max())
print(wine_quality.quality.min())

9
3

In [116]:
wine_quality_map = wine_quality.quality.map(lambda p: p - wine_quality_mean)
wine_quality_map

0      -0.818378
1      -0.818378
2      -0.818378
3       0.181622
4      -0.818378
          ...
6492    0.181622
6493   -0.818378
6494    0.181622
6495    1.181622
6496    0.181622
Name: quality, Length: 6497, dtype: float64

In [123]:
#investigating remapped max/min values vs mean
print(wine_quality_map.min())
print(wine_quality_map.max())
print(wine_quality_mean)
#Checking they add up to original min/max values
print(wine_quality_mean + wine_quality_map.min())
print(wine_quality_mean + wine_quality_map.max())

-2.818377712790519
3.181622287209481
5.818377712790519
3.0
9.0

In [124]:
#Remapping all rows in a DataFrame at once using apply()
def remean_quality(row):
    row.quality = row.quality - wine_quality_mean
    return row

wine_quality.apply(remean_quality, axis='columns')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine,matter,index_backwards,index_1
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,-0.818378,1,Liquid,6497,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,-0.818378,1,Liquid,6496,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,-0.818378,1,Liquid,6495,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,0.181622,1,Liquid,6494,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,-0.818378,1,Liquid,6493,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,0.181622,0,Liquid,5,6492
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,-0.818378,0,Liquid,4,6493
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,0.181622,0,Liquid,3,6494
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,1.181622,0,Liquid,2,6495
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,0.181622,0,Liquid,1,6496

In [125]:
#map() and apply() don't change original values of DataFrame - they merely show adjusted values
wine_quality.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine,matter,index_backwards,index_1
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1,Liquid,6497,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1,Liquid,6496,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1,Liquid,6495,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1,Liquid,6494,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1,Liquid,6493,4

In [126]:
# Another method of remeaning column
wine_quality_mean = wine_quality.quality.mean()
wine_quality.quality - wine_quality_mean
print(wine_quality_mean)

5.818377712790519

In [129]:
# Combining data in columns - making a new column of the same data type
wine_quality['type'] = 'Wine'
wine_quality['type']

0       Wine
1       Wine
2       Wine
3       Wine
4       Wine
        ...
6492    Wine
6493    Wine
6494    Wine
6495    Wine
6496    Wine
Name: type, Length: 6497, dtype: object

In [130]:
wine_quality.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine,matter,index_backwards,index_1,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1,Liquid,6497,0,Wine
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1,Liquid,6496,1,Wine
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1,Liquid,6495,2,Wine
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1,Liquid,6494,3,Wine
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1,Liquid,6493,4,Wine

In [131]:
wine_quality.matter + " - " + wine_quality.type

0       Liquid - Wine
1       Liquid - Wine
2       Liquid - Wine
3       Liquid - Wine
4       Liquid - Wine
            ...
6492    Liquid - Wine
6493    Liquid - Wine
6494    Liquid - Wine
6495    Liquid - Wine
6496    Liquid - Wine
Length: 6497, dtype: object

# 4. Grouping and Sorting in Pandas

In [133]:
# Grouping data together by values
wine_quality.groupby('quality').quality.count()

quality
3      30
4     216
5    2138
6    2836
7    1079
8     193
9       5
Name: quality, dtype: int64

In [135]:
# Can use summary statistics on chosen columns using groupby() - this is a collection of minimum alcohol values for each given quality of wine
wine_quality.groupby('quality').alcohol.min()

quality
3     8.0
4     8.4
5     8.0
6     8.4
7     8.6
8     8.5
9    10.4
Name: alcohol, dtype: float64

In [136]:
wine_quality.groupby('quality').alcohol.max()

quality
3    12.6
4    13.5
5    14.9
6    14.0
7    14.2
8    14.0
9    12.9
Name: alcohol, dtype: float64

In [138]:
# taking the first row value for the state of matter and its alcohol content
wine_quality.groupby('matter').apply(lambda df: df.alcohol.iloc[0])

matter
Liquid    9.4
dtype: float64

In [139]:
# Picking out wines by max values of alcohol content and sugars
wine_quality.groupby(['alcohol', 'residual sugar']).apply(lambda df: df.loc[df.quality.idxmax()])

                        fixed acidity  volatile acidity  citric acid  \
alcohol residual sugar
8.00    0.95                      4.5             0.190         0.21
        5.10                      4.2             0.215         0.23
8.40    1.80                     14.3             0.310         0.74
        2.10                     10.4             0.610         0.49
        3.30                      6.2             0.310         0.23
...                               ...               ...          ...
14.00   2.60                      5.8             0.290         0.21
        7.50                      5.8             0.390         0.47
14.05   8.40                      5.8             0.610         0.01
14.20   1.60                      6.4             0.350         0.28
14.90   7.50                     15.9             0.360         0.65

                        residual sugar  chlorides  free sulfur dioxide  \
alcohol residual sugar
8.00    0.95                      0.95      0.033                 89.0
        5.10                      5.10      0.041                 64.0
8.40    1.80                      1.80      0.075                  6.0
        2.10                      2.10      0.200                  5.0
        3.30                      3.30      0.052                 34.0
...                                ...        ...                  ...
14.00   2.60                      2.60      0.025                 12.0
        7.50                      7.50      0.027                 12.0
14.05   8.40                      8.40      0.041                 31.0
14.20   1.60                      1.60      0.037                 31.0
14.90   7.50                      7.50      0.096                 22.0

                        total sulfur dioxide  density    pH  sulphates  \
alcohol residual sugar
8.00    0.95                           159.0  0.99332  3.34       0.42
        5.10                           157.0  0.99688  3.42       0.44
8.40    1.80                            15.0  1.00080  2.86       0.79
        2.10                            16.0  0.99940  3.16       0.63
        3.30                           113.0  0.99429  3.16       0.48
...                                      ...      ...   ...        ...
14.00   2.60                           120.0  0.98940  3.39       0.79
        7.50                            88.0  0.99070  3.38       0.45
14.05   8.40                           104.0  0.99090  3.26       0.72
14.20   1.60                           113.0  0.98779  3.12       0.40
14.90   7.50                            71.0  0.99760  2.98       0.84

                        alcohol  quality  red_wine  matter  index_backwards  \
alcohol residual sugar
8.00    0.95               8.00        5         0  Liquid             2273
        5.10               8.00        3         0  Liquid             1633
8.40    1.80               8.40        6         1  Liquid             5953
        2.10               8.40        3         1  Liquid             5980
        3.30               8.40        5         0  Liquid             1063
...                         ...      ...       ...     ...              ...
14.00   2.60              14.00        7         0  Liquid             3799
        7.50              14.00        6         0  Liquid             1748
14.05   8.40              14.05        7         0  Liquid              395
14.20   1.60              14.20        7         0  Liquid              980
14.90   7.50              14.90        5         1  Liquid             5845

                        index_1  type
alcohol residual sugar
8.00    0.95               4224  Wine
        5.10               4864  Wine
8.40    1.80                544  Wine
        2.10                517  Wine
        3.30               5434  Wine
...                         ...   ...
14.00   2.60               2698  Wine
        7.50               4749  Wine
14.05   8.40               6102  Wine
14.20   1.60               5517  Wine
14.90   7.50                652  Wine

[2815 rows x 17 columns]

In [153]:
wine_quality.groupby(['alcohol', 'residual sugar']).apply(lambda df: df.loc[df.density.idxmin()])
#Does it matter what is in [df.density.idxmin()]?

                        fixed acidity  volatile acidity  citric acid  \
alcohol residual sugar
8.00    0.95                      4.5             0.190         0.21
        5.10                      4.2             0.215         0.23
8.40    1.80                     14.3             0.310         0.74
        2.10                     10.4             0.610         0.49
        3.30                      6.2             0.310         0.23
...                               ...               ...          ...
14.00   2.60                      5.8             0.290         0.21
        7.50                      5.8             0.390         0.47
14.05   8.40                      5.8             0.610         0.01
14.20   1.60                      6.4             0.350         0.28
14.90   7.50                     15.9             0.360         0.65

                        residual sugar  chlorides  free sulfur dioxide  \
alcohol residual sugar
8.00    0.95                      0.95      0.033                 89.0
        5.10                      5.10      0.041                 64.0
8.40    1.80                      1.80      0.075                  6.0
        2.10                      2.10      0.200                  5.0
        3.30                      3.30      0.052                 34.0
...                                ...        ...                  ...
14.00   2.60                      2.60      0.025                 12.0
        7.50                      7.50      0.027                 12.0
14.05   8.40                      8.40      0.041                 31.0
14.20   1.60                      1.60      0.037                 31.0
14.90   7.50                      7.50      0.096                 22.0

                        total sulfur dioxide  density    pH  sulphates  \
alcohol residual sugar
8.00    0.95                           159.0  0.99332  3.34       0.42
        5.10                           157.0  0.99688  3.42       0.44
8.40    1.80                            15.0  1.00080  2.86       0.79
        2.10                            16.0  0.99940  3.16       0.63
        3.30                           113.0  0.99429  3.16       0.48
...                                      ...      ...   ...        ...
14.00   2.60                           120.0  0.98940  3.39       0.79
        7.50                            88.0  0.99070  3.38       0.45
14.05   8.40                           104.0  0.99090  3.26       0.72
14.20   1.60                           113.0  0.98779  3.12       0.40
14.90   7.50                            71.0  0.99760  2.98       0.84

                        alcohol  quality  red_wine  matter  index_backwards  \
alcohol residual sugar
8.00    0.95               8.00        5         0  Liquid             2273
        5.10               8.00        3         0  Liquid             1633
8.40    1.80               8.40        6         1  Liquid             5953
        2.10               8.40        3         1  Liquid             5980
        3.30               8.40        5         0  Liquid             1063
...                         ...      ...       ...     ...              ...
14.00   2.60              14.00        7         0  Liquid             3799
        7.50              14.00        6         0  Liquid             1748
14.05   8.40              14.05        7         0  Liquid              395
14.20   1.60              14.20        7         0  Liquid              980
14.90   7.50              14.90        5         1  Liquid             5845

                        index_1  type
alcohol residual sugar
8.00    0.95               4224  Wine
        5.10               4864  Wine
8.40    1.80                544  Wine
        2.10                517  Wine
        3.30               5434  Wine
...                         ...   ...
14.00   2.60               2698  Wine
        7.50               4749  Wine
14.05   8.40               6102  Wine
14.20   1.60               5517  Wine
14.90   7.50                652  Wine

[2815 rows x 17 columns]

In [141]:
# Using another groupby method - agg() to further investigate the data - len/min/max of alcohol content sorted by quality score
wine_quality.groupby(['quality']).alcohol.agg([len, min, max])

            len   min   max
quality
3          30.0   8.0  12.6
4         216.0   8.4  13.5
5        2138.0   8.0  14.9
6        2836.0   8.4  14.0
7        1079.0   8.6  14.2
8         193.0   8.5  14.0
9           5.0  10.4  12.9

In [157]:
# Multi-level indices - looking at length values of quality grouped by alcohol and quality
wine_reviewed = wine_quality.groupby(['alcohol', 'quality']).quality.agg([len])
wine_reviewed

                 len
alcohol quality
8.00    3          1
        5          1
8.40    3          1
        4          1
        5          2
...              ...
14.00   7          4
        8          3
14.05   7          1
14.20   7          1
14.90   5          1

[329 rows x 1 columns]

# Sorting

In [147]:
# Sorting DataFrame by values
wine_quality.sort_values(by='quality', ascending = False)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine,matter,index_backwards,index_1,type
2475,6.9,0.360,0.34,4.2,0.018,57.0,119.0,0.98980,3.28,0.36,12.7,9,0,Liquid,4022,2475,Wine
3204,7.1,0.260,0.49,2.2,0.032,31.0,113.0,0.99030,3.37,0.42,12.9,9,0,Liquid,3293,3204,Wine
2426,7.4,0.240,0.36,2.0,0.031,27.0,139.0,0.99055,3.28,0.48,12.5,9,0,Liquid,4071,2426,Wine
2373,9.1,0.270,0.45,10.6,0.035,28.0,124.0,0.99700,3.20,0.46,10.4,9,0,Liquid,4124,2373,Wine
2419,6.6,0.360,0.29,1.6,0.021,24.0,85.0,0.98965,3.41,0.61,12.4,9,0,Liquid,4078,2419,Wine
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3649,11.8,0.230,0.38,11.1,0.034,15.0,123.0,0.99970,2.93,0.55,9.7,3,0,Liquid,2848,3649,Wine
1374,6.8,0.815,0.00,1.2,0.267,16.0,29.0,0.99471,3.32,0.51,9.8,3,1,Liquid,5123,1374,Wine
4906,9.4,0.240,0.29,8.5,0.037,124.0,208.0,0.99395,2.90,0.38,11.0,3,0,Liquid,1591,4906,Wine
1299,7.6,1.580,0.00,2.1,0.137,5.0,9.0,0.99476,3.50,0.40,10.9,3,1,Liquid,5198,1299,Wine
1469,7.3,0.980,0.05,2.1,0.061,20.0,49.0,0.99705,3.31,0.55,9.7,3,1,Liquid,5028,1469,Wine

In [150]:
# Sorting wine by quality score and alcohol content
wine_quality.sort_values(by = ['quality', 'alcohol'])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine,matter,index_backwards,index_1,type
4864,4.2,0.215,0.23,5.1,0.041,64.0,157.0,0.99688,3.42,0.44,8.0,3,0,Liquid,1633,4864,Wine
517,10.4,0.610,0.49,2.1,0.200,5.0,16.0,0.99940,3.16,0.63,8.4,3,1,Liquid,5980,517,Wine
1893,9.1,0.590,0.38,1.6,0.066,34.0,182.0,0.99680,3.23,0.38,8.5,3,0,Liquid,4604,1893,Wine
459,11.6,0.580,0.66,2.2,0.074,10.0,47.0,1.00080,3.25,0.57,9.0,3,1,Liquid,6038,459,Wine
2633,7.9,0.640,0.46,10.6,0.244,33.0,227.0,0.99830,2.87,0.74,9.1,3,0,Liquid,3864,2633,Wine
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2373,9.1,0.270,0.45,10.6,0.035,28.0,124.0,0.99700,3.20,0.46,10.4,9,0,Liquid,4124,2373,Wine
2419,6.6,0.360,0.29,1.6,0.021,24.0,85.0,0.98965,3.41,0.61,12.4,9,0,Liquid,4078,2419,Wine
2426,7.4,0.240,0.36,2.0,0.031,27.0,139.0,0.99055,3.28,0.48,12.5,9,0,Liquid,4071,2426,Wine
2475,6.9,0.360,0.34,4.2,0.018,57.0,119.0,0.98980,3.28,0.36,12.7,9,0,Liquid,4022,2475,Wine
3204,7.1,0.260,0.49,2.2,0.032,31.0,113.0,0.99030,3.37,0.42,12.9,9,0,Liquid,3293,3204,Wine